<li class="last simpleCart_shelfItem">
  <a class="cbp-vm-image" href="/events/id/<%= event._id %>">
    <div class="view view-first">
      <div class="inner_content clearfix">
        <div class="product_image">
          <div class="mask1"><img src="images/eden2.jpg" alt="image" class="img-responsive zoom-img item_thumb"></div>
          <div class="mask">
            <div class="info">Quick View</div>
          </div>
          <div class="product_container">
            <h4 class="item_name"> <%= event.name %> </h4>
            <p class="item_location"> <%= event.location %> </p>
            <div class="price mount item_price"><%= event.price %> </div>
            <a class="button item_add cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </a>
</li>
