<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Watches an E-Commerce online Shopping Category Flat Bootstrap Responsive Website Template| Checkout :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<!-- start menu -->
<link href="/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/js/megamenu.js"></script>
<!-- <script>$(document).ready(function(){$(".megamenu").megamenu();});</script> -->
<script src="/js/jquery.easydropdown.js"></script>
<script src="/js/simpleCart.min.js"> </script>
<script src="/js/buyTickets.js"> </script>
</head>
<body>
	<%- include('./partials/header.ejs') %>
   <section class="container">
		 <div class="row" id="tag">
			 <p>Checkout</p>
		 </div>
	</section>

	<!-- <div class="simpleCart_items"></div> -->
	<div id="cartListing">
		<!-- Fill with everything in the shopping cart with templateShopping.js -->
	</div>

	 <!-- Bootstrap core JavaScript
	 ================================================== -->
	 <!-- Placed at the end of the document so the pages load faster -->
	 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	 <script src="/js/templateShopping.js">

		 // Example starter JavaScript for disabling form submissions if there are invalid fields
		 (function() {
			 'use strict';

			 window.addEventListener('load', function() {
				 // Fetch all the forms we want to apply custom Bootstrap validation styles to
				 var forms = document.getElementsByClassName('needs-validation');

				 // Loop over them and prevent submission
				 var validation = Array.prototype.filter.call(forms, function(form) {
					 form.addEventListener('submit', function(event) {
						 if (form.checkValidity() === false) {
							 event.preventDefault();
							 event.stopPropagation();
						 }
						 form.classList.add('was-validated');
					 }, false);
				 });
			 }, false);
		 })();
	 </script>

</body>
</html>
