<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
	<title>Tickets4Tokens</title>
	<!-- Meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="tokens,decentralized,blockchain,ethereum"/>
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tags -->
	<!-- Stylesheet -->
	<link href="/css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" />
	<link rel="stylesheet" href="/css/jquery-ui.css" />
	<link href="/css/style.css" rel='stylesheet' type='text/css' />
	<!-- //Stylesheet -->
	<!--fonts-->
	<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
	<!--//fonts-->
</head>

<body style="background-image: url(../images/banner1.jpg)">
	<!--background-->
	<h1>Event Form </h1>
	<div class="booking-form-w3layouts">
		<!-- Form starts here -->
		<form action="/events/create" method="post" id="eventCreation" enctype="multipart/form-data">
			<h2 class="sub-heading-agileits">Event Details</h2>
			<div class="main-flex-w3ls-sectns">
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<input type="text" name="name" placeholder="Event Name" value="" required>
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<input type="text" name="description" placeholder="Event Description" value="" required>
				</div>
			</div>

			<div class="main-flex-w3ls-sectns">
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<input id="datepicker" name="date" type="text" placeholder="Event Date" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}"
					    required>
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text2">
					<input type="text" id="timepicker" name="time" class="timepicker form-control" placeholder="Event Time" value="" required>
				</div>
			</div>
			<div class ="main-flex-w3ls-sectns">
				<div class="field-agileinfo-spc form-w3-agile-text1">
      		<input id="autocomplete" placeholder="Location" name="location" onFocus="geolocate()" type="text" required></input>
    	  </div>

        <script>
        // This example displays an address form, using the autocomplete feature
        // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbS3Qe0kHVteDvrE-ksESXJd6b0gBmLMg&libraries=places&callback=initAutocomplete"
        async defer></script>

				<div class="custom-select" style="width:200px;">
					<select name="category" >
							<option value="Event Type">Event Type</option>
							<option value="Education<">Education</option>
          		<option value="Entertainment">Entertainment</option>
							<option value ="Health">Health</option>
							<option value ="Lifestyle">Lifestyle</option>
							<option value ="Other">Other</option>
					</select>
					<script>
						var x, i, j, selElmnt, a, b, c;
/*look for any elements with the class "custom-select":*/
x = document.getElementsByClassName("custom-select");
for (i = 0; i < x.length; i++) {
selElmnt = x[i].getElementsByTagName("select")[0];
/*for each element, create a new DIV that will act as the selected item:*/
a = document.createElement("DIV");
a.setAttribute("class", "select-selected");
a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
x[i].appendChild(a);
/*for each element, create a new DIV that will contain the option list:*/
b = document.createElement("DIV");
b.setAttribute("class", "select-items select-hide");
for (j = 1; j < selElmnt.length; j++) {
	/*for each option in the original select element,
	create a new DIV that will act as an option item:*/
	c = document.createElement("DIV");
	c.innerHTML = selElmnt.options[j].innerHTML;
	c.addEventListener("click", function(e) {
			/*when an item is clicked, update the original select box,
			and the selected item:*/
			var i, s, h;
			s = this.parentNode.parentNode.getElementsByTagName("select")[0];
			h = this.parentNode.previousSibling;
			for (i = 0; i < s.length; i++) {
				if (s.options[i].innerHTML == this.innerHTML) {
					s.selectedIndex = i;
					h.innerHTML = this.innerHTML;
					break;
				}
			}
			h.click();
	});
	b.appendChild(c);
}
x[i].appendChild(b);
a.addEventListener("click", function(e) {
		/*when the select box is clicked, close any other select boxes,
		and open/close the current select box:*/
		e.stopPropagation();
		closeAllSelect(this);
		this.nextSibling.classList.toggle("select-hide");
		this.classList.toggle("select-arrow-active");
});
}
function closeAllSelect(elmnt) {
/*a function that will close all select boxes in the document,
except the current select box:*/
var x, y, i, arrNo = [];
x = document.getElementsByClassName("select-items");
y = document.getElementsByClassName("select-selected");
for (i = 0; i < y.length; i++) {
	if (elmnt == y[i]) {
		arrNo.push(i)
	} else {
		y[i].classList.remove("select-arrow-active");
	}
}
for (i = 0; i < x.length; i++) {
	if (arrNo.indexOf(i)) {
		x[i].classList.add("select-hide");
	}
}
}
/*if the user clicks anywhere outside the select box,
then close all select boxes:*/
document.addEventListener("click", closeAllSelect);
</script>
			</div>
		</div>


			<div class="main-flex-w3ls-sectns">
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<input type="text" name="organizer" placeholder="Organizer" required>
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text2">
					<input type="text" name="organizerInfo" placeholder="Organizer Info" required>
				</div>
			</div>
			<div class="main-flex-w3ls-sectns">
				<div class="secondary">
					<label id="actual_label" for = "prices">Ticket Price:</label>
					<input id="prices" name="price" type="number" step="any" placeholder="1 ETH" required>
				</div>
				<div class="other_secondary">
					<label id="actual_label" for = "prices"># Tickets:</label>
					<input id="prices" name="count" type="number" placeholder="0" required>
				</div>
			</div>
			<div class="field-agileinfo-spc form-w3-agile-text2">
				<label for="eventpic">Event Picture:</label>
				<input id="eventpic" type="file" name="img" value="img" required></input>
			</div>
			<input type="hidden" name="address" id="address" value="0x0a593d0c2cf2bbe71f47738497b05d590e213fa2">
			<div class="clear"></div>
			<input type="submit" value="Checkout">
			<div class="clear"></div>
		</form>
		<!--// Form starts here -->
	</div>
	<!-- <%- include('./partials/footer.ejs') %> -->

	<script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>
	<!-- Time Js -->
	<script type="text/javascript" src="../js/wickedpicker.js"></script>
	<script type="text/javascript">
		$('.timepicker,.timepicker1').wickedpicker({
			twentyFour: false
		});
	</script>
	<!--// Time Js -->
	<!-- Calendar Js -->
	<script src="../js/jquery-ui.js"></script>
	<script>
		$(function () {
			$("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
		});
	</script>
	<!-- //Calendar Js -->
	<script type="text/javascript" src="/js/deploy-smartcontract.js"></script>
	<script type="text/javascript" src="/js/formSubmit.js"></script>
</body>

</html>
