<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Tickets on Blockchain Marketplace</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../../css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="../../css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<script>
	console.log("Location", window.location.pathname);
</script>


<!--webfont-->
<link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
<!-- start menu -->
<link href="../../css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="../../js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="../../js/jquery.easydropdown.js"></script>
<script src="../../js/easyResponsiveTabs.js" type="text/javascript"></script>
		    <script type="text/javascript">
			    $(document).ready(function () {
			        $('#horizontalTab').easyResponsiveTabs({
			            type: 'default', //Types: default, vertical, accordion
			            width: 'auto', //auto or any width like 600px
			            fit: true   // 100% fit in a container
			        });
			    });
            </script>
<script src="../../js/simpleCart.min.js"> </script>
</head>
<body>
   <div class="listings_banner">
        <div class="container">
         <div class="header_top">
            <div class="header_top_left">
            <div class="box_11"><a href="/events/checkout">
            <h4><p>Cart: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</p><img src="../../images/bag.png" alt=""/><div class="clearfix"> </div></h4>
            </a></div>
             <p class="empty"><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
             <div class="clearfix"> </div>
          </div>
           <div class="header_top_right">
          <!-- <div class="lang_list">
            <select tabindex="4" class="dropdown">
               <option value="" class="label" value="">$ Us</option>
               <option value="1">Dollar</option>
               <option value="2">Euro</option>
            </select>
          </div> -->
          <ul class="header_user_info">
           <a class="login" href="login.html">
            <i class="user"> </i>
            <li class="user_desc">Create an Event</li>
           </a>
           <div class="clearfix"> </div>
           </ul>
          <!-- start search-->
            <div class="search-box">
               <div id="sb-search" class="sb-search">
                 <form>
                   <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                   <input class="sb-search-submit" type="submit" value="">
                   <span class="sb-icon-search"> </span>
                 </form>
                </div>
             </div>
             <!----search-scripts---->
             <script src="../../js/classie1.js"></script>
             <script src="../../js/uisearch.js"></script>
               <script>
                new UISearch( document.getElementById( 'sb-search' ) );
               </script>
               <!----//search-scripts---->
                  <div class="clearfix"> </div>
          </div>
           <div class="clearfix"> </div>
     </div>
     <div class="header_bottom">
      <div class="logo">
        <h1><a href="/"><span class="m_1">T</span>ix<span class="m_1">C</span>oin</a></h1>
      </div>
         <div class="menu">
        <ul class="megamenu skyblue">

         <!-- <li><a class="color4" href="#">womens</a>
            <div class="megapanel">
               <div class="row">
                  <div class="col1">
                     <div class="h_nav">
                        <h4>Men</h4>
                        <ul>
                           <li><a href="men.html">Watches</a></li>
                           <li><a href="men.html">watches</a></li>
                           <li><a href="men.html">Blazers</a></li>
                           <li><a href="men.html">Suits</a></li>
                           <li><a href="men.html">Trousers</a></li>
                           <li><a href="men.html">Jeans</a></li>
                           <li><a href="men.html">Shirts</a></li>
                           <li><a href="men.html">Sweatshirts & Hoodies</a></li>
                           <li><a href="men.html">Swim Wear</a></li>
                           <li><a href="men.html">Accessories</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col1">
                     <div class="h_nav">
                        <h4>Women</h4>
                        <ul>
                           <li><a href="men.html">Watches</a></li>
                           <li><a href="men.html">Outerwear</a></li>
                           <li><a href="men.html">Dresses</a></li>
                           <li><a href="men.html">Handbags</a></li>
                           <li><a href="men.html">Trousers</a></li>
                           <li><a href="men.html">Jeans</a></li>
                           <li><a href="men.html">T-Shirts</a></li>
                           <li><a href="men.html">Shoes</a></li>
                           <li><a href="men.html">Coats</a></li>
                           <li><a href="men.html">Accessories</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col2">
                     <div class="h_nav">
                        <h4>Trends</h4>
                        <ul>
                           <li class>
                              <div class="p_left">
                                <img src="../../images/p1.jpg" class="img-responsive" alt=""/>
                              </div>
                              <div class="p_right">
                                 <h4><a href="#">Denim shirt</a></h4>
                                 <span class="item-cat"><small><a href="#">watches</a></small></span>
                                 <span class="price">29.99 $</span>
                              </div>
                              <div class="clearfix"> </div>
                           </li>
                           <li>
                              <div class="p_left">
                                <img src="../../images/p2.jpg" class="img-responsive" alt=""/>
                              </div>
                              <div class="p_right">
                                 <h4><a href="#">Denim shirt</a></h4>
                                 <span class="item-cat"><small><a href="#">watches</a></small></span>
                                 <span class="price">29.99 $</span>
                              </div>
                              <div class="clearfix"> </div>
                           </li>
                           <li>
                              <div class="p_left">
                                <img src="../../images/p3.jpg" class="img-responsive" alt=""/>
                              </div>
                              <div class="p_right">
                                 <h4><a href="#">Denim shirt</a></h4>
                                 <span class="item-cat"><small><a href="#">watches</a></small></span>
                                 <span class="price">29.99 $</span>
                              </div>
                              <div class="clearfix"> </div>
                           </li>
                        </ul>
                     </div>
                  </div>
                 </div>
               </div>
            </li> -->

            <!-- <li><a class="color10" href="brands.html">Brands</a></li>
            <li class="active grid"><a class="color3" href="index.html">Sale</a></li>
            <li><a class="color7" href="404.html">News</a></li> -->

            <li><a class="color2" href="#">Browse</a>
               <div class="megapanel">
                  <div class="row">
                     <div class="col1">
                        <div class="h_nav">
                           <h4>Browse</h4>
                           <ul>
                              <li><a href="/listings">Concerts</a></li>
                              <li><a href="/listings">Sports</a></li>
                              <li><a href="/listings">Theater</a></li>
                              <li><a href="/listings">Parks</a></li>
                              <li><a href="/listings">Attractions</a></li>
                           </ul>
                        </div>
                     </div>
                     <!-- <div class="col1">
                        <div class="h_nav">
                           <h4>Women</h4>
                           <ul>
                              <li><a href="men.html">Watches</a></li>
                              <li><a href="men.html">Outerwear</a></li>
                              <li><a href="men.html">Dresses</a></li>
                              <li><a href="men.html">Handbags</a></li>
                              <li><a href="men.html">Trousers</a></li>
                              <li><a href="men.html">Jeans</a></li>
                              <li><a href="men.html">T-Shirts</a></li>
                              <li><a href="men.html">Shoes</a></li>
                              <li><a href="men.html">Coats</a></li>
                              <li><a href="men.html">Accessories</a></li>
                           </ul>
                        </div>
                     </div> -->
                     <!-- <div class="col2">
                        <div class="h_nav">
                           <h4>Trends</h4>
                           <ul>
                              <li class>
                                 <div class="p_left">
                                   <img src="../../images/p1.jpg" class="img-responsive" alt=""/>
                                 </div>
                                 <div class="p_right">
                                    <h4><a href="#">Denim shirt</a></h4>
                                    <span class="item-cat"><small><a href="#">watches</a></small></span>
                                    <span class="price">29.99 $</span>
                                 </div>
                                 <div class="clearfix"> </div>
                              </li>
                              <li>
                                 <div class="p_left">
                                   <img src="../../images/p2.jpg" class="img-responsive" alt=""/>
                                 </div>
                                 <div class="p_right">
                                    <h4><a href="#">Denim shirt</a></h4>
                                    <span class="item-cat"><small><a href="#">watches</a></small></span>
                                    <span class="price">29.99 $</span>
                                 </div>
                                 <div class="clearfix"> </div>
                              </li>
                              <li>
                                 <div class="p_left">
                                   <img src="../../images/p3.jpg" class="img-responsive" alt=""/>
                                 </div>
                                 <div class="p_right">
                                    <h4><a href="#">Denim shirt</a></h4>
                                    <span class="item-cat"><small><a href="#">watches</a></small></span>
                                    <span class="price">29.99 $</span>
                                 </div>
                                 <div class="clearfix"> </div>
                              </li>
                           </ul>
                        </div>
                     </div> -->
                    </div>
                  </div>
            </li>
            <div class="clearfix"> </div>
         </ul>
         </div>
           <div class="clearfix"> </div>
           </div>
       </div>
   </div>
   <div class="men">
   	<div class="container">
      <div class="col-md-11 single_top">
      	<div class="single_left">
      	  <div class="labout span_1_of_a1">
			<div class="flexslider">
            <!-- This used to be a slider with preview ../../images, but now it only shows one image -->
					 <ul class="slides">
						<li data-thumb="../../images/eden2.jpg">
							<img src="../../images/eden2.jpg" />
						</li>
					 </ul>
				  </div>
		          <div class="clearfix"></div>
	    </div>
		<div class="cont1 span_2_of_a1 simpleCart_shelfItem">
				<h1>Eden Vertigo World Tour</h1>
				<div class="availability_and_category">
					<div class="details_left">
						<p class="availability">Availability: <span class="color">1000 left</span></p>
					    <div class="price_single">
						  <span class="reducedfrom">$140.00</span>
						  <span class="amount item_price actual">$120.00</span>
						</div>
					</div>
					<div class="details_right">
						<h2 class="quick">Contract Address:</h2>
						<p class="quick_desc">3JFDSLT4NGASGEWW342L</p>
					</div>
				</div>

				<h2 class="quick">Description:</h2>
				<p class="quick_desc"> Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; es</p>
				<div class="venue_and_time">
					<div class="details_left">
						<h2 class="quick">Venue</h2>
						<p class="quick_desc">Fonda Theater. Los Angeles, CA, 90024</p>
					</div>
					<div class="details_right">
						<h2 class="quick">Event Time</h2>
						<p class="quick_desc">March 25, 2018</p>
					</div>
				</div>
				<div class="organizer_and_organizer_desc">
					<div class="details_left">
						<h2 class="quick">Organizer</h2>
						<p class="quick_desc">Fonda Theater. Los Angeles, CA, 90024</p>
					</div>
					<div class="details_right">
						<h2 class="quick">Organizer Description</h2>
						<p class="quick_desc">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; es</p>
					</div>
				</div>


				<div class="quantity_box">
					<ul class="product-qty">
						<span>Category:</span>
						<p class="quick_desc">Sports</p>
					   <!-- <span>Quantity:</span>
					   <select>
						 <option>1</option>
						 <option>2</option>
						 <option>3</option>
						 <option>4</option>
						 <option>5</option>
						 <option>6</option>
					   </select> -->
				    </ul>

		   		    <div class="clearfix"></div>
	   		    </div>
			    <a href="#" class="btn btn-primary btn-normal btn-inline btn_form button item_add item_1" target="_self">Add to cart</a>
			</div>
		    <div class="clearfix"> </div>
		</div>

		</div>

     <div class="clearfix"> </div>
	</div>
   </div>
	 <%- include('./partials/footer.ejs') %>

<!-- FlexSlider -->
<script defer src="../../js/jquery.flexslider.js"></script>
<link rel="stylesheet" href="../../css/flexslider.css" type="text/css" media="screen" />
<script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
</script>
</body>
</html>
