<!DOCTYPE HTML>
<html>

<head>
	<title>Tickets4Tokens</title>
</head>
<body>
  <form action="/events/create" method="post" enctype="multipart/form-data">
    <input type="file" name="img"> </input>
    <input type="submit" value="go"> </input>
  </form>

  <div>
    All Events: <%= events %>
  </div>
</body>
